<div id="UpRadioModeSwitch-Form" class="hidden">
  <input type="radio" id="UpRadioModeSwitch-Broadcast" name="UpRadioModeSwitch" value="BROADCAST">
  <label for="UpRadioModeSwitch-Broadcast">Start broadcasting</label><br>
  <input type="radio" id="UpRadioModeSwitch-Listen" name="UpRadioModeSwitch" value="LISTEN">
  <label for="UpRadioModeSwitch-Listen">Listen to a channel</label><br>
</div>
<button id="UpRadioModeSwitchBtn-Broadcast" type="button" class="btn" aria-label="Start a broadcast of your own" title="Start a broadcast of your own">Start broadcasting</button>