<div id="UpRadioModeSwitch-Form" class="hidden">
  <input type="radio" id="UpRadioModeSwitch-Broadcast" name="UpRadioModeSwitch" value="BROADCAST">
  <label for="UpRadioModeSwitch-Broadcast">Start broadcasting</label><br>
  <input type="radio" id="UpRadioModeSwitch-Listen" name="UpRadioModeSwitch" value="LISTEN">
  <label for="UpRadioModeSwitch-Listen">Listen to a channel</label><br>
</div>
<div id="UpRadioModeSwitch-Btn" class="flex justify-center mt-6">
  <button id="UpRadioModeSwitchBtn-Broadcast" type="button" class="flex-initial btn border-gray-700 py-2" aria-label="Start a broadcast of your own" title="Start a broadcast of your own">Start your own broadcast</button>
</div>