<input style="display: none;" type="radio" id="UpRadioModeSwitch-Broadcast" name="UpRadioModeSwitch" value="BROADCAST">
<label style="display: none;" for="UpRadioModeSwitch-Broadcast">Start broadcasting</label><br>
<input style="display: none;" type="radio" id="UpRadioModeSwitch-Listen" name="UpRadioModeSwitch" value="LISTEN">
<label style="display: none;" for="UpRadioModeSwitch-Listen">Listen to a channel</label><br>
<button id="UpRadioModeSwitchBtn-Broadcast" type="button">Start broadcasting</button>
<button id="UpRadioModeSwitchBtn-Listen" type="button">Listen to a channel</button>