<div id="channelInfo" class=""></div>
<div id="channelEditor" class="hidden">
  <label for="channelImageUpload">Channel image</label>
  <div class="flex flex-row">
    <input id="channelImageUpload" accept="image/png" class="w-full" type="file">
  </div>
  
  <label for="channelName">Channel name</label>
  <div class="flex flex-row">
    <input class="flex-1" id="channelName" type="text" name="channelName" aria-label="Channel name"/>
    <button class="btn flex-initial" type="button" id="channelVerify" aria-label="Verify channel name is valid" title="Verify channel name is valid">Verify</button>
    <button class="btn flex-initial" type="button" id="copyUrl" aria-label="Copy your channel URL to clipboard" title="Copy your channel URL to clipboard">Copy URL</button>
  </div>
  
  <label for="channelDescription">Channel description</label>
  <div class="flex flex-row">
    <textarea class="flex-1" id="channelDescription" name="channelDescription" maxlength="240"></textarea>
  </div>
</div>
