<h5>Broadcast component</h5>

<p>Get available audio, video sources and audio output devices from <code>mediaDevices.enumerateDevices()</code>
  then set the source for <code>getUserMedia()</code> using a <code>deviceId</code> constraint.</p>

<div class="select">
  <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
</div>

<div class="select">
  <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
</div>

<div class="select">
  <label for="videoSource">Video source: </label><select id="videoSource"></select>
</div>

<video id="video" playsinline autoplay></video>

<button id="broadcast">Broadcast</button>